<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <application
        android:allowBackup="true"
        android:icon="@raw/icon"
        android:label="Dbtime_Watch"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name="com.example.Dbtime_Watch.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Dbtime_Watch.AlertDetails"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.Dbtime_Watch.MainActivity2"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.Dbtime_Watch.MainActivity3"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.Dbtime_Watch.MainActivity4"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.Dbtime_Watch.MainActivity5"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.Dbtime_Watch.MainActivity6"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.Dbtime_Watch.MainActivity7"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.Dbtime_Watch.MainActivity8"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.Dbtime_Watch.MainActivity9"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.Dbtime_Watch.MainActivity10"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />


    </application>

</manifest>